<header class="container ">
    <nav class="navbar box" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="has-text-weight-bold">
                    Link List
                </span>
            </a>
            <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger" aria-label="menu"
                aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar" #navMenu class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" [routerLink]="['s/edit']">
                    <span class="material-icons">
                        add_circle
                    </span>
                    <span>New</span>

                </a>
                <a *ngIf="isAuthenticated$ |async" class="navbar-item" [routerLink]="['s/collections']">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                    <span>My Collections</span>

                </a>
                <a class="navbar-item">
                    <span class="material-icons icon">
                        help
                    </span>
                    <span>About</span>

                </a>
            </div>
            <div class="navbar-end" (click)="toggleNavbar()">
                <div *ngIf="isAuthenticated$ |async then authtemplate else notauthtemplate"></div>

                <ng-template #notauthtemplate>
                    <a (click)="logIn()" class="button is-medium">
                        <span class="material-icons icon">
                            login
                        </span>
                        <span>Log In</span>
                    </a>
                </ng-template>

                <ng-template #authtemplate>
                    <div class="navbar-item">
                        <div class="profile columns is-mobile" *ngIf="user$ |async as user">
                            <span class="picture column is-narrow">
                                <figure class="image is-32x32">
                                    <img class="" [src]="user.picture" alt="user picture">
                                </figure>
                            </span>
                            <span class="name column">{{user.name}}</span>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a (click)="logOut()" class="button is-medium">
                            <span class="material-icons icon">
                                logout
                            </span>
                            <span>Log Out</span>
                        </a>
                    </div>
                </ng-template>

            </div>
        </div>
    </nav>
</header>