<header class="container ">
    <nav class="navbar box" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="has-text-weight-bold">
                    Link List
                </span>
            </a>
            <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger" aria-label="menu"
                aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar" #navMenu class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" [routerLink]="['s/edit']">
                    <span class="material-icons">
                        add_circle
                    </span>
                    <span>New</span>

                </a>
                <a *ngIf="isAuthenticated$ |async" class="navbar-item" [routerLink]="['s/collections']">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                    <span>My Collections</span>

                </a>
                <a (click)="toggleAbout()" class="navbar-item">
                    <span class="material-icons icon">
                        help
                    </span>
                    <span>About</span>

                </a>
            </div>
            <div class="navbar-end" (click)="toggleNavbar()">
                <div *ngIf="isAuthenticated$ |async then authtemplate else notauthtemplate"></div>

                <ng-template #notauthtemplate>
                    <a (click)="logIn()" class="button is-medium">
                        <span class="material-icons icon">
                            login
                        </span>
                        <span>Log In</span>
                    </a>
                </ng-template>

                <ng-template #authtemplate>
                    <div class="navbar-item">
                        <div class="profile columns is-mobile" *ngIf="user$ |async as user">
                            <span class="picture column is-narrow">
                                <figure class="image is-32x32">
                                    <img class="" [src]="user.picture" alt="user picture">
                                </figure>
                            </span>
                            <span class="name column">{{user.name}}</span>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a (click)="logOut()" class="button is-medium">
                            <span class="material-icons icon">
                                logout
                            </span>
                            <span>Log Out</span>
                        </a>
                    </div>
                </ng-template>

            </div>
        </div>
    </nav>
</header>
<div class="modal" [ngClass]="{ 'is-active' : isAboutActive }">
    <div class="modal-background" (click)="toggleAbout()"></div>
    <div class="modal-card">
        <!-- <header class="modal-card-head">
            <p class="modal-card-title">About Link List</p>
            <button class="delete" aria-label="close" (click)="toggleAbout()"></button>
        </header> -->
        <section class="modal-card-body">
            <div class="content">
                <h2>Link List (the clone)</h2>
                <p>Whith this app you can group links to share a single url
                </p>
                <h2>Why I make this app</h2>
                <p>
                    Since I had no portfolio or applications to show my technical skills, I decided to clone
                    <a href="http://www.theurlist.com" target="_blank" rel="noopener noreferrer">The urlist</a>
                    showing the different aspects of application development with which I am familiar.
                    <br>
                    You can see more about this project and the different approaches that I took in relation to the original project at
                    <a href="http://www.github.com/gromney/linklist" target="_blank" rel="noopener noreferrer">Link List Frontend</a>
                    and 
                    <a href="http://www.github.com/gromney/linklist.api" target="_blank" rel="noopener noreferrer">Link List Backend</a>

                </p>
                <hr class="navbar-divider">
                <h3>The stack</h3>
                <h4>Backend:</h4>
                <ul>
                    <li>Dotnet core webapi (c#)</li>
                    <li>MongoDb</li>
                    <li>Auth0 authentication</li>
                    <li>Github Actions (CI/CD)</li>
                </ul>
                <h4>Frontend</h4>
                <ul>
                    <li>Angular</li>
                    <li>Bulma css</li>
                </ul>
                <hr class="navbar-divider">
                <h3>Ready to hire me:</h3>
                <p>Estoy disponible para trabajar en sus proyectos por favor contáctame
                    <span>
                        <a class="button" href="https://www.linkedin.com/in/gromney/" target="_blank">
                            <span class="icon is-medium">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </span>
                        </a>
                    </span>
                </p>

            </div>
        </section>
        <footer class="modal-card-foot">
            <button (click)="toggleAbout()" class="button">Close</button>
          </footer>
    </div>
</div>